<!DOCTYPE html>
<link rel="stylesheet" href="/assets/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarizer</title>
</head>
<body>
    <div class="container">
        <img src="/assets/supersummarizer.png" alt="ELI5" />
        <p>Enter a wikipedia title exaclty in the box.</p>
        <form action="/summarize" method="post">
            <input type="text" name="topic" placeholder="Enter a topic">
            <button type="submit">Submit</button>
        </form>

        {{if .Summary}}
            <div class="result-section">
                <h2>Summary</h2>
                <p>{{.Summary}}</p>
            </div>
        {{end}}
        {{if .Eli5}}
            <div class="result-section">
                <img src="/assets/eli5.png" alt="ELI5" />
                <p>{{.Eli5}}</p>
            </div>
        {{end}}
    </div>
</body>
</html>